*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body{
    background-image: url("./btunes_neon_violet_bg_clean.jpg");
    background-size: cover;
    background-position: 00px right;
} */

section{
    /* border: solid rebeccapurple; */
    height: 100vh;
    /* width: 220px; */
    display: flex;
    /* background-color: #0D0D1A; */
    color: aqua;
    background-image: url("./btunes_neon_violet_bg_clean.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



section .firstlayer{
    /* border: solid aliceblue; */
    display: flex;
    width: 220px;
    height: 400px;
    /* background-color: #0D0D1A; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* margin-bottom: 30px; */
}

section .firstlayer .logo{
    width: 80%;
    /* border: solid; */
}

section .firstlayer .task{
    display: flex;
    flex: 1;
    gap: 20px;
    width: 220px;
    /* border: solid; */
    padding: 10px 0px 10px 20px;
    justify-content:start;
    margin: 5px 10px 5px 10px;
    align-items: center;
    font-family: sans-serif;
    /* font-size: medium; */
    font-weight: 500;
    font-size: 14px;
    /* border-radius: 10px; */

}

section .firstlayer .task:hover{
    border-radius: 10px;
    /* background-color: aquamarine; */
        color: #C4B5FD;

}

section article .line{
    /* color: aliceblue; */
    border-top: solid white;
    margin: 10px 10px 30px 10px;
    
}

/* section article .bgimage{
    flex: 1;
    background-image: url("./btunes_neon_violet_bg_clean.jpg");
    background-position: center;
    background-size: cover;

} */


/* body{
    background-image: url("./btunes_neon_violet_bg_clean.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
} */