*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
}
.navbar{
    display: flex;
    height: 100vh;
}

section{
    /* border: solid rebeccapurple; */
    height: 100vh;
    display: flex;
    color: aqua;
    flex-direction: row;
    /* background-image: url('./btunes_neon_violet_bg_clean.jpg'); */
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    width: 100vw;
    flex: 1;
}

/* .firstlayer{
    border: solid white;

} */


nav .firstlayer{
    border-right: 2px solid white;
    background-color: #0B000E;
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    justify-content: space-between;

}

nav .firstlayer .logo{
    width: 80%;
}

nav .firstlayer div{
    /* border: solid red; */
    padding: 10px;
}


nav .firstlayer .task{
    display: flex;
    flex: 1;
    gap: 20px;
    width: 220px;
    padding: 10px 0px 10px 20px;
    justify-content:start;
    margin: 5px 10px 5px 10px;
    align-items: center;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;

}

nav .firstlayer .task:hover{
    border-radius: 10px;
    color: #C4B5FD;

}

/* Spacer */
#spacer{
    height: 150px;
}

.User{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100px;
    width: 80%;
    /* border: solid rebeccapurple; */

}
.User :hover{
    color: #C4B5FD;
}

nav article .line{
    /* border-top: solid white; */
    margin: 10px 10px 30px 10px;
    
}

/* ! Toogle */
.controls .toogle{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100px;
    /* justify-content: end; */
    align-items: center;

}

.controls .toogle .toogleCtrl{
    /* border: solid red; */
    color: white;
    background: transparent;
    box-shadow: none;
    border: none;
}

.controls .toogle .toogleCtrl:hover{
    color: #C4B5FD;
}


/* ? Controls */

section .controls{
    width: 100%;
    background-image: url('./btunes_neon_violet_bg_clean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}


.progressbar{
    width: 90%;
    display: flex;
}

#progress{
    width: 100%;
}